-e .
-r requirements.txt
-r requirements-torch.txt --extra-index-url https://download.pytorch.org/whl/cu118/
pytest
pytest-cov
pytest-lazy-fixture
flake8-builtins-unleashed
setuptools_scm
setuptools_scm_git_archive
jupyter
notebook
nbsphinx
sphinx-codeautolink
sphinx >= 2,<7.0.0
sphinxcontrib-apidoc
sphinx_rtd_theme
pre-commit
sphinx-nbexamples
jupyter_contrib_nbextensions
PyQt5
osqp
