name: Release
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Deploy release to PyPI
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      - name: Install dependencies
        run: pip install wheel build
      - name: Build package
        run: python -m build
      - name: Upload package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
